:root {
  --mainColor: #c6cce4;
  --mainColorLight: #5767aa;
  --secondaryColor: #881b1b;
  --textColor: rgb(114, 109, 109);
  --mainTextColor: rgb(90, 87, 87);
  --textshadow: 1px 0 #291a1a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  color: var(--mainTextColor);
}

.changeLanguage {
  display: flex;
  flex-direction: row;
  position: relative;
}

.item {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.enFlag,
.frFlag {
  height: 20px;
  width: 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 1rem;
  color: var(--mainTextColor);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;
}

.nav a:hover {
  color: var(--secondaryColor);
  text-decoration: underline;
}

.navBtn {
  /* padding: 5px; */
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media (max-width: 768px){
  .navBtn {
    visibility: visible;
    opacity: 1;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
   /*  float:left; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 100;
    }

  .responsiveNav {
    transform: none;
  }

  .navCloseBtn {
    position: absolute;
    top: 1.8rem;
    right: 2.5rem;
  }

  .nav a {
    font-size: 1rem;
  }
}
