:root {
  --mainColor:  #c0d3d8;
/*    #c6cce4; */
  --mainColorLight: #5767aa;
  --secondaryColor: #881b1b;
  --textColor: #70570b;
 /*  rgb(114, 109, 109); */
  --mainTextColor: #70570b;
  /*  rgb(90, 87, 87); */
  --textshadow: 1px 0 #6545077d;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  color: var(--mainTextColor);
 
}

.changeLanguage {
  display: flex;
  flex-direction: row;
  position: relative;
}

.item {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.enFlag,
.frFlag {
  height: 20px;
  width: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav a {
  margin: 0 1rem;
/*   color: var(--mainTextColor); */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1.5px;
  text-shadow:var(--textshadow) ;
  color:#795016;
}

.nav a:hover {
 color: var(--secondaryColor); 
 /*color: #2f5e6b;*/
  text-decoration: underline;
  font-size: 1.2rem;
}

.navBtn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px){
  .navBtn {
    visibility: visible;
    opacity: 1;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 100;
    }

  .responsiveNav {
    transform: none;
  }

  .navCloseBtn {
    position: absolute;
    top: 1.8rem;
    right: 2.5rem;
  }

  .nav a {
    font-size: 1.2rem;
    color: var(--mainTextColor);
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 601px) 
and (max-width:768px) 
{
  .nav a {
    font-size: 12px;
    }
 
  .nav{
    width: 100%;
    margin-left: -15px;
  }
}

@media only screen and (min-width: 992px) and(max-width:1200px)  {
  .nav a {
    font-size: 19px;
  }
}


